<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Medico Club a Medical Category Bootstrap responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Medico Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="~/Content/template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="~/Content/template/css/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="~/Content/template/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- portfolio -->
    <link rel="stylesheet" href="~/Content/template/css/chocolat.css" type="text/css" media="all">
    <!-- //portfolio -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="~/Content/template/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/template/js/bootstrap.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <!-- banner -->
    <div class="banner jarallax">
        <div class="agileinfo-dot">
            <div class="header-top">
                <div class="header">
                    <div class="header-top-info">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="agileits-logo">
                                    <h1><a href="index.html">Medico <span>Club</span></a></h1>
                                </div>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                                <nav>
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="index.html">Home</a></li>
                                        <li><a href="#about" class="scroll">About</a></li>
                                        <li><a href="#gallery" class="scroll">Gallery</a></li>

                                        <li><a href="#services" class="scroll">Services</a></li>
                                        <li><a href="#mail" class="scroll">Contact Us</a></li>
                                        <li><a href="#Login" class="scroll">Login</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                    </div>
                </div>
            </div>
            <div class="w3layouts-banner-info">
                <div class="container">
                    <div class="w3layouts-banner-slider">
                        <div class="w3layouts-banner-top-slider">
                            <div class="slider">
                                <div class="callbacks_container">
                                    <ul class="rslides callbacks callbacks1" id="slider4">
                                        <li>
                                            <div class="w3ls-text">
                                                <div class="w3ls-text-info">
                                                    <h2>welcome<span>to</span>medico club</h2>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="w3ls-text">
                                                <div class="w3ls-text-info">
                                                    <h2>Health<span>is better</span><span> than </span><span> Wealth...</span></h2>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="w3ls-text">
                                                <div class="w3ls-text-info">
                                                    <h2>Now, You<span>can Order</span><span>Medicines</span>Online</h2>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                                <script src="js/responsiveslides.min.js"></script>
                                <script>
                                    // You can also use "$(window).load(function() {"
                                    $(function () {
                                        // Slideshow 4
                                        $("#slider4").responsiveSlides({
                                            auto: true,
                                            pager: true,
                                            nav: true,
                                            speed: 500,
                                            namespace: "callbacks",
                                            before: function () {
                                                $('.events').append("<li>before event fired.</li>");
                                            },
                                            after: function () {
                                                $('.events').append("<li>after event fired.</li>");
                                            }
                                        });

                                    });
                                </script>
                                <!--banner Slider starts Here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- welcome -->
    <div class="welcome" id="about">
        <div class="container">
            <div class="agileits-heading">
                <h2>About Us</h2>
            </div>
            <div class="agileinfo-about-info">
                <h4>Medico Club is online medical store.</h4>
                <p>Now, you can order your medicine online and get them at home. We porvide home delivery service and also the quick service in the case of emergency</p>
            </div>

            <!--   <div class="welcome-agileinfo">
            <div class="col-md-6 col-sm-6 col-xs-6 welcome-grids">
                <div class="view view-w3-agile">
                    <img src="images/4.jpg" alt="" class="img-responsive" />
                    <div class="agileits-w3layouts-mask">
                        <h4>Lorem ipsum</h4>
                        <p>Nullam ut nibh dapibus elit placerat ullamcorper</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 welcome-grids">
                <div class="view view-w3-agile">
                    <img src="images/5.jpg" alt="" class="img-responsive" />
                    <div class="agileits-w3layouts-mask">
                        <h4>Praesent egestas</h4>
                        <p>Nullam ut nibh dapibus elit placerat ullamcorper</p>
                    </div>
                </div>
            </div>
                <div class="clearfix"> </div>
            </div>-->
        </div>
    </div>
    <!-- //welcome -->
    <!-- services -->
    <div class="services" id="services">
        <div class="container">
            <div class="agileits-heading">
                <h3>Our Services</h3>
            </div>
            <div class="specialty-grids-top">
                <div class="col-md-4 service-box" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                    <figure class="icon">
                        <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
                    </figure>
                    <h5>Urgent Delivery</h5>
                    <p>Urgent delivery of Medicines at nay place in one Phoone Call.<br /><span>0300 1234567</span><br /><span>0321 1234567</span> </p>
                </div>
                <div class="col-md-4 service-box">
                    <figure class="icon">
                        <i class="fa fa-motorcycle" aria-hidden="true"></i>
                    </figure>
                    <h5>Home Delivery</h5>
                    <p>Quick Home delivery serveice avalaible.</p>
                </div>
                <div class="col-md-4 service-box">
                    <figure class="icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </figure>
                    <h5>24 Hours</h5>
                    <p>serveices avalaible for 24 hours.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //services -->
    <!-- portfolio -->
    <div class="portfolio" id="gallery">
        <div class="container">
            <div class="agileits-heading">
                <h3>Our Gallery</h3>
            </div>
            <ul class="simplefilter w3layouts agileits">
                <li class="active w3layouts agileits" data-filter="7">All</li>
                <li class="w3layouts agileits" data-filter="1">Injections</li>
                <li class="w3layouts agileits" data-filter="2">Tablets</li>
                <li class="w3layouts agileits" data-filter="3">Capules</li>
                <li class="w3layouts agileits" data-filter="4">Tubes</li>
                <li class="w3layouts agileits" data-filter="5">Drops</li>
                <li class="w3layouts agileits" data-filter="6">Syrups</li>
            </ul>

            <div class="filtr-container w3layouts agileits">
                <div class="filtr-item w3layouts agileits portfolio-t" data-category="7" data-sort="Busy streets">
                    <a href="~/Content/template/images/all1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/all1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="filtr-item w3layouts agileits portfolio-t" data-category="7" data-sort="Busy streets">
                    <a href="~/Content/template/images/all6.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/all6.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <!--category1-->
                <div class="filtr-item w3layouts agileits portfolio-t" data-category="1, 7" data-sort="Busy streets">
                    <a href="~/Content/template/images/inj1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/inj1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="filtr-item w3layouts agileits portfolio-t" data-category="1" data-sort="Busy streets">
                    <a href="~/Content/template/images/inj3.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/inj3.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="filtr-item w3layouts agileits portfolio-t" data-category="1" data-sort="Busy streets">
                    <a href="~/Content/template/images/inj4.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/inj4.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div><!--/category1-->
                <!-- category 2-->
                <div class="filtr-item w3layouts agileits" data-category="2, 7" data-sort="Luminous night">
                    <a href="~/Content/template/images/tab1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/tab1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="filtr-item w3layouts agileits" data-category="2" data-sort="City wonders">
                    <a href="~/Content/template/images/tab4.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/tab4.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="filtr-item w3layouts agileits" data-category="2" data-sort="In production">
                    <a href="~/Content/template/images/tab5.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/tab5.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="filtr-item w3layouts agileits" data-category="3, 7" data-sort="Industrial site">
                    <a href="~/Content/template/images/cap1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/all2.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="filtr-item w3layouts agileits" data-category="3" data-sort="Peaceful lake">
                    <a href="~/Content/template/images/cap2.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/cap2.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="filtr-item w3layouts agileits" data-category="3" data-sort="City lights">
                    <a href="~/Content/template/images/cap3.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/cap3.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="filtr-item w3layouts agileits" data-category=" 4" data-sort="Dreamhouse">
                    <a href="~/Content/template/images/tub1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/tub1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="filtr-item w3layouts agileits" data-category="4" data-sort="Dreamhouse">
                    <a href="~/Content/template/images/tube3.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/tube3.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="filtr-item w3layouts agileits" data-category="4" data-sort="Dreamhouse">
                    <a href="~/Content/template/images/tube3.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/tube5.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="filtr-item w3layouts agileits" data-category="5" data-sort="Dreamhouse">
                    <a href="~/Content/template/images/drp1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/drp1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="filtr-item w3layouts agileits" data-category="5" data-sort="Dreamhouse">
                    <a href="~/Content/template/images/drp3.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/drp3.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="filtr-item w3layouts agileits" data-category="5" data-sort="Dreamhouse">
                    <a href="~/Content/template/images/syp1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/syp1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="filtr-item w3layouts agileits" data-category="6" data-sort="Dreamhouse">
                    <a href="~/Content/template/images/syp2.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/syp2.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="filtr-item w3layouts agileits" data-category="6" data-sort="Dreamhouse">
                    <a href="~/Content/template/images/sy3.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                        <figure>
                            <img src="~/Content/template/images/sy3.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                            <figcaption>
                                <h3>Medico <span>Club</span></h3>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //portfolio -->
    <!-- team -->
    <!-- //team -->
    <!-- events -->
    <!-- //events -->
    <!-- modal
    <div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Medico <span>Club</span></h4>
                </div>
                <div class="modal-body">
                    <div class="agileits-w3layouts-info">
                        <img src="images/1.jpg" alt="" />
                        <p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus id tellus ultrices ullamcorper.  Cras tempor massa luctus, varius lacus sit amet, blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem</p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- //modal -->
    <!-- newsletter -->
    <!-- //newsletter -->
    <!-- contact-info -->
    <!-- //contact-info -->

    <div class="contact" id="mail">
        <div class="container">
            <div class="agileits-heading">
                <h3>Contact</h3>
            </div>
            <div class="w3layouts-contact-grids">
                <div class="col-sm-3 w3layouts-contact-grid">
                    <i class="fa fa-map" aria-hidden="true"></i>
                    <h5>Address</h5>
                    <p>UET CSE Department Lahore</p>
                </div>
                <div class="col-sm-3 w3layouts-contact-grid">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <h5>Phone/Fax</h5>
                    <p>+92 42 99029216</p>
                    <p>+92 42 99029227</p>
                </div>
                <div class="col-sm-3 w3layouts-contact-grid">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <h5>Email</h5>
                    <p><a href="www.uet.edu.pk"> registrar@uet.edu.pk</a></p>
                    <p><a href="www.uet.edu.pk"> abidumer@uet.edu.pk</a></p>
                </div>
                <div class="col-sm-3 w3layouts-contact-grid">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                    <h5>Social</h5>
                    <p>Touch With Us</p>
                    <div class="agileinfo-social-grids">
                        <ul>
                            =
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="copyright">
                <p>© 2019 Medico Club. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <script src="~/Content/template/js/jarallax.js"></script>
    <script src="~/Content/template/js/SmoothScroll.min.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <script src="~/Content/template/js/responsiveslides.min.js"></script>
    <script type="text/javascript" src="~/Content/template/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/template/js/easing.js"></script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- Tabs-JavaScript -->
    <script src="~/Content/template/js/jquery.filterizr.js"></script>
    <script src="~/Content/template/js/controls.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.filtr-container').filterizr();
        });
    </script>
    <!-- //Tabs-JavaScript -->
    <!-- PopUp-Box-JavaScript -->
    <script src="~/Content/template/js/jquery.chocolat.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.filtr-item a').Chocolat();
        });
    </script>
    <!-- //PopUp-Box-JavaScript -->
</body>
</html>